package tubes.jarkom.env;

public class Env {
    private final static String SERVER_NAME = "dimanaaja";
    private final static String DB_NAME = "chat_application";
    private final static String DB_URL = "jdbc:mysql://localhost:3306/"+DB_NAME;
    private final static String DB_USERNAME = "erwin";
    private final static String DB_PASSWORD = "";

    public static String getServerName(){
        return SERVER_NAME;
    }

    public static String getDBUrl(){
        return DB_URL;
    }

    public static String getDB_USERNAME(){
        return DB_USERNAME;
    }

    public static String getDB_PASSWORD(){
        return DB_PASSWORD;
    }
}
